.shuffle-parent {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1;
  text-transform: uppercase;
  visibility: hidden;
}

.shuffle-parent.is-ready {
  visibility: visible;
}

.shuffle-char-wrap {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.shuffle-char-inner {
  display: inline-block;
  will-change: transform;
}

.shuffle-char {
  display: inline-block;
  text-align: center;
}
